html,
body {
    width: 100%;
    max-width: 640px;
    height: 100%;
    margin: auto;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.main {
    position: absolute;
    top: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;

    width: 100%;
    max-width: 100%;
    height: auto;
}

.door {
    position: absolute;
    z-index: 5;
    top: 61.233333%;
    left: 37.4%;

    overflow: hidden;

    width: 24.1%;
    /* max-width: 210px; */
    height: 16.4444444%;
}
@keyframes moveLeft {
    from {
        left: 0;
    }
    to {
        left: -50%;
    }
}

@keyframes moveRight {
    from {
        left: 50%;
    }
    to {
        left: 100%;
    }
}
.left-door {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    width: 50%;
    height: 100%;
}
.right-door {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;

    width: 50%;
    height: 100%;
}



.p1musle {
    position: absolute;
    z-index: 35;
    top: 5px;
    right: 5px;

    width: 40px;
    height: 40px;
    margin: 0;

    animation: rotateArrow 5s infinite linear ;

    background-image: url('../images/音乐.png');
    background-size: 100% 100%;
}
@keyframes rotateArrow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.swiper-slide,.page1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.page1 {
    position: relative;
    z-index: 10;

    width: 100%;
    height: 100%;

    flex-shrink: 0;
}


.arrow-up {
    position: absolute;
    bottom: 18%;
    left: 47.5%;

    display: block;

    width: 5%;

    animation: upArrow 1s infinite ease-in-out;
}

@keyframes upArrow {
    0% {
        transform: translateY(80%);
    }
    100% {
        transform: translateY(0%);
    }
}

.gesture {
    position: absolute;
    bottom: 10%;
    left: 40%;

    display: block;

    width: 15%;

    animation: gestrueAnimate 1s infinite ease-in-out;
}
@keyframes gestrueAnimate {
    0% {
        transform: translateX(80%);
    }
    100% {
        transform: translateX(0%);
    }
}
.click-item {
    position: absolute;
    top: 35%;
    left: 64%;
    width: 10%;
    height: 15%;
    animation: clickAnimate 0.7s infinite ease-in-out;
}
@keyframes clickAnimate {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.show {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: auto;
}
@keyframes show {
    0% {
        left: 0;
    }
    90% {
        left: -900%;
    }
    100% {
        left: 0;
    }
}

.show-item {
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.1) */
}
.item-1-left {
    left: 55%;
    top: 20%;
    width: 45%;
    height: 11rem;
}
.item-1-right {
    left: 0;
    top: 20%;
    width: 34%;
    height: 11rem;
}
.item-2 {
    left: 25%;
    top: 13%;
    width: 60%;
    height: 7.25rem;
}
.item-3 {
    left: 25%;
    top: 52.5%;
    width: 60%;
    height: 6.25rem;
}
.item-4 {
    left: 2%;
    top: 24%;
    width: 40%;
    height: 4.5rem;
}
.item-5 {
    left: 2%;
    top: 52%;
    width: 40%;
    height: 4.5rem;
}
.item-6 {
    left: 47%;
    top: 26%;
    width: 45%;
    height: 10.5rem;
}
.item-7 {
    left: 46%;
    top: 16%;
    width: 40%;
    height: 6.5rem;
}
.item-8 {
    left: 46%;
    top: 51%;
    width: 40%;
    height: 6.5rem;
}
.item-9 {
    left: 15%;
    top: 15%;
    width: 40%;
    height: 8rem;
}
.item-10 {
    left: 60%;
    top: 15%;
    width: 38%;
    height: 8rem;
}
.item-11 {
    left: 37%;
    top: 58%;
    width: 40%;
    height: 8rem;
}
.item-12-left {
    left: 37%;
    top: 34%;
    width: 63%;
    height: 6.5rem;  
}
.item-12-right {
    left: 0%;
    top: 34%;
    width: 10%;
    height: 6.5rem;  
}
.item-13 {
    left: 0;
    top: 17%;
    width: 45%;
    height: 7rem;
}
.item-14 {
    left: 0;
    top: 52%;
    width: 45%;
    height: 7rem;
}
.item-15 {
    left: 0;
    top: 17%;
    width: 70%;
    height: 6.5rem;
}
.item-16 {
    left: 0;
    top: 53%;
    width: 70%;
    height: 7rem;
}
.item-17 {
    left: 0;
    top: 20%;
    width: 40%;
    height: 9.5rem;
}
.item-18 {
    left: 51%;
    top: 42%;
    width: 43%;
    height: 9rem;
}
.item-19 {
    left: 51%;
    top: 18%;
    width: 45%;
    height: 6rem;
}
.item-20 {
    left: 51%;
    top: 45%;
    width: 45%;
    height: 6rem;
}
.item-21 {
    left: 23%;
    top: 19%;
    width: 40%;
    height: 8.5rem;
}
.item-22-left {
    left: 70%;
    top: 30%;
    width: 30%;
    height: 8.5rem;
}
.item-22-right {
    left: 0;
    top: 30%;
    width: 12%;
    height: 8.5rem;
}
.item-23 {
    left: 22%;
    top: 17%;
    width: 40%;
    height: 8.5rem;
}
.show-layer {
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .9);
}
.words {
    color: #fff;
    font-size: .7rem;
    margin: 0rem 2rem;
    padding: .5rem .5rem;
    display: inline-block;
    border: 2px solid #ccc;

}
.close {
    position: absolute;
    z-index: 10;
    top: 5%;
    left: 10%;

    display: block;

    width: 11%;
    height: auto;
}

.close img {
    display: block;

    width: 100%;
    max-width: 100%;
    height: auto;
}
.welcome {
    position: absolute;
    bottom: 20%;
    color: #fff;
    font-size: 1.5rem;
    opacity: 0;
}


@keyframes welcome {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.start-ani {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    height: auto;

    animation: start 3s  linear;
    animation-fill-mode: forwards;
}


@keyframes start {
  0% {
    transform: translate3d(-50%, 0, 0);
    visibility: visible;
  }
  25%{
    transform: translate3d(-25%, 0, 0);
  }   
  50% {
    transform: translate3d(0, 0, 0);
  }
  75%{
    transform: translate3d(-50%, 0, 0);
  }
  100%{
     transform: translate3d(-25%, 0, 0);
     visibility: hidden;
  }
}

