*
{
    margin: 0;
    padding: 0;
}
img{ width: 100%; height: auto;max-width: 100%; display: block; }  

.door {
    width: 32%;
    max-width: 210px;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 44%;
    left: 36%;  
    z-index: 5; 
    background-color: red; 
}
.left-door
{
    position: absolute;
    top: 0;
    left: 0;

    width: 50%;   
    height: 100%;

    background: #fff;
    border-right: 2px solid #000;
    z-index: 10;
}
.right-door{
    position: absolute;
    top: 0;
    left: 50%;

    width: 50%;   
    height: 100%;

    background: #fff;
    border-left: 2px solid #000;
    z-index: 10;
}

.btn-audio
{
    z-index: 100;

    width: 50px;
    height: 50px;
    margin: 10px auto;

    background: url(../img/4.png) no-repeat center bottom;
    background-size: cover;
}

.p1musle{
    width: 64px;
    height:64px;
    position: absolute;
    right: 2px;
    top: 2px;
    margin: 0;
    background-image: url("../images/musicBtn.png");
    background-size: 100% 100%;
    animation: rotateArrow 5s infinite linear ;
    z-index: 5;
}
@keyframes rotateArrow{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg);}
}

.swiper-slide
{
    font-size: 18px;
    /* Center slide text vertically */

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /*display:         flex;*/

    text-align: center;

    background: #fff;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.arrow{
    display: block;
    position: absolute;
    bottom:10%;
    left:47.5%;
    width: 5%;
    animation: upArrow 0.5s infinite ease-in-out;
}
@keyframes upArrow{
    0%{transform: translateY(80%)}
    100%{transform:translateY(0%)}
}

@keyframes moveLeft {
    from {left:0px;}
    to {left:-50%;}
}

@keyframes moveRight {
    from {left:50%;}
    to {left:100%;}
}