html,
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

    overflow: hidden;
    overflow-y: auto;

    width: 100%;
    max-width: 640px;
    height: 100%;
    margin: auto;
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;

    width: 100%;
    max-width: 100%;
    height: auto;
}
.S1 .swiper-slide img {
    position: absolute;
    top: 0;
    left: 0;
}

.door {
    position: absolute;
    z-index: 5;
    top: 61.233333%;
    left: 37.4%;

    overflow: hidden;

    width: 24.1%;
    /* max-width: 210px; */
    height: 16.4444444%;
}
@keyframes moveLeft {
    from {
        left: 0;
    }
    to {
        left: -50%;
    }
}

@keyframes moveRight {
    from {
        left: 50%;
    }
    to {
        left: 100%;
    }
}
.left-door {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    width: 50%;
    height: 100%;
}
.right-door {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;

    width: 50%;
    height: 100%;
}

.p1musle {
    position: absolute;
    z-index: 100;
    top: 5px;
    left: 5px;

    width: 1.5rem;
    height: 1.5rem;
    margin: 0;

    animation: rotateArrow 5s infinite linear ;

    background-image: url('../images/musicon.png');
    background-size: 100% 100%;
}
@keyframes rotateArrow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.swiper-slide,
.page1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
}
.page1 {
    position: relative;
    z-index: 10;

    width: 100%;
    height: 100%;

    flex-shrink: 0;
}


.arrow-up {
    position: absolute;
    bottom: 18%;
    left: 47.5%;

    display: block;

    width: 5%;

    animation: upArrow 1s infinite ease-in-out;
}

@keyframes upArrow {
    0% {
        transform: translateY(80%);
    }
    100% {
        transform: translateY(0%);
    }
}

.gesture {
    position: absolute;
    bottom: 30%;
    left: 40%;

    display: block;

    width: 15%;

    animation: gestrueAnimate 1s infinite ease-in-out;
}
@keyframes gestrueAnimate {
    0% {
        transform: translateX(80%);
    }
    100% {
        transform: translateX(0%);
    }
}
.click-item {
    position: absolute;
    top: 80%;
    left: 80%;
    width: 1rem;
    height: auto;

    animation: clickAnimate 2s infinite ;
}
@keyframes clickAnimate {
    0% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

.show {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: auto;
}
@keyframes show {
    0% {
        left: 0;
    }
    90% {
        left: -900%;
    }
    100% {
        left: 0;
    }
}

.show-item {
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.1) */
}
.item-0 {
    top: 12%;
    left: 0%;
    width: 100%;
    height: 19rem;
}
.item-1-left {
    top: 20%;
    left: 55%;

    width: 45%;
    height: 11rem;
}
.item-1-right {
    top: 20%;
    left: 0;

    width: 34%;
    height: 11rem;
}
.item-2 {
    top: 10%;
    left: 25%;

    width: 60%;
    height: 7.25rem;
}
.item-3 {
    top: 45.5%;
    left: 25%;

    width: 60%;
    height: 6.25rem;
}
.item-4 {
    top: 20%;
    left: 2%;

    width: 40%;
    height: 4.5rem;
}
.item-5 {
    top: 47%;
    left: 2%;

    width: 40%;
    height: 4.5rem;
}
.item-6 {
    top: 23%;
    left: 47%;

    width: 45%;
    height: 10.5rem;
}
.item-7 {
    top: 16%;
    left: 46%;

    width: 40%;
    height: 6.5rem;
}
.item-8 {
    top: 45%;
    left: 46%;

    width: 40%;
    height: 6.5rem;
}
.item-9 {
    top: 15%;
    left: 15%;

    width: 40%;
    height: 8rem;
}
.item-10 {
    top: 15%;
    left: 60%;

    width: 38%;
    height: 8rem;
}
.item-11 {
    top: 52%;
    left: 37%;

    width: 40%;
    height: 8rem;
}
.item-12-left {
    top: 31%;
    left: 37%;

    width: 63%;
    height: 6.5rem;
}
.item-12-right {
    top: 31%;
    left: 0;

    width: 10%;
    height: 6.5rem;
}
.item-13 {
    top: 17%;
    left: 0;

    width: 45%;
    height: 7rem;
}
.item-14 {
    top: 48%;
    left: 0;

    width: 45%;
    height: 7rem;
}
.item-15 {
    top: 14%;
    left: 0;

    width: 70%;
    height: 6.5rem;
}
.item-16 {
    top: 48%;
    left: 0;

    width: 70%;
    height: 7rem;
}
.item-17 {
    top: 14%;
    left: 0;

    width: 51%;
    height: 5.5rem;
}
.item-18 {
    top: 40%;
    left: 51%;

    width: 43%;
    height: 9rem;
}
.item-19 {
    top: 15%;
    left: 51%;

    width: 45%;
    height: 6rem;
}
.item-20 {
    top: 41%;
    left: 51%;

    width: 45%;
    height: 6rem;
}
.item-21 {
    top: 19%;
    left: 23%;

    width: 40%;
    height: 8.5rem;
}
.item-22-left {
    top: 30%;
    left: 70%;

    width: 30%;
    height: 8.5rem;
}
.item-22-right {
    top: 30%;
    left: 0;

    width: 12%;
    height: 8.5rem;
}
.item-23 {
    top: 17%;
    left: 22%;

    width: 40%;
    height: 8.5rem;
}
#layer {
    width: 100%;
    height: 100%;
}
.show-layer {
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .8);
}
.words {
    font-size: .7rem;

    display: inline-block;

    margin: 0rem 2rem;
    padding: .5rem .5rem;

    color: #fff;
    border: 2px solid #ccc;
}
.close {
    position: absolute;
    z-index: 10;
    top: 5%;
    right: 10%;

    display: block;

    width: 11%;
    height: auto;
}

.close img {
    display: block;

    width: 100%;
    max-width: 100%;
    height: auto;
}
.welcome {
    font-size: 1.5rem;

    position: absolute;
    bottom: 20%;

    opacity: 0;
    color: #fff;
}


@keyframes welcome {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
    }

    0% {
        transform: translate3d(0, -3000px, 0);

        opacity: 0;
    }

    60% {
        transform: translate3d(0, 25px, 0);

        opacity: 1;
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    to {
        transform: none;

        opacity: 1;
    }
}

.start-ani {
    position: absolute;
    z-index: 100;

    top: 0;
    left: 0;

    width: 100%;
    height: auto;

    animation: start 3s  linear;

    animation-fill-mode: forwards;
}


@keyframes start {
    0% {
        visibility: visible;
        display: block;
        transform: translate3d(-50%, 0, 0);
    }
    25% {
        transform: translate3d(-25%, 0, 0);
    }
    50% {
        transform: translate3d(0, 0, 0);
    }
    75% {
        transform: translate3d(-50%, 0, 0);
    }
    100% {
        visibility: hidden;
        display: none;
        transform: translate3d(-25%, 0, 0);
    }
}

.share {
    position: absolute;
    left: 32%; 
    bottom: 21%;

    width: 36%;
    height: auto;
}
.layer-share img {
    position: absolute;
    top: 0;
    right: 0;

    display: block;

    width: 70%;
    height: auto;
}
.link {
    position: absolute;
    top: 65%;
    left: 25%;

    width: 50%;
    height: 1rem;
}
.logo {
    position: absolute;
    top: 35%;
    left: 35%;
    width: 30%;
    height: auto;
    animation: logo 1s  linear infinite;
}
@keyframes logo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.3;
    }
}