    *
{
    margin: 0;
    padding: 0;
}
html,
body
{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

    overflow: hidden;
    overflow-y: auto;

    width: 100%;
    max-width: 640px;
    height: 100%;
    margin: auto;
}
.main {
    position: relative;

    width: 100%;
    height: 100%;
    /*display: none;*/
}
.p1musle
{
    position: absolute;
    z-index: 100;
    top: 5px;
    right: 5px;

    width: 1.5rem;
    height: 1.5rem;
    margin: 0;

    animation: rotateArrow 5s infinite linear ;

    background-image: url('../images/musicon.png');
    background-size: 100% 100%;
}
@keyframes rotateArrow
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.click {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 10% ;
    animation: click 1s infinite  ;
}

@keyframes click
{
    0%
    {
        transform: scale(1)
    }
    100%
    {
        transform: scale(1.5)
    }
}

.swiper-container
{
    overflow: hidden;

    width: 100%;
    height: 100%;
}
.swiper-slide img
{
    display: block;

    width: 100%;
    /*     min-height: 100%;
    height: auto; */
}
.page1_bg,
.page2_bg,
.page3_bg,
.page4_bg
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
@keyframes moveMap
{
    0%
    {
        top: 0;
        left: 0;
    }
    100%
    {
        top: -5rem;
        left: -6rem;
    }
}
.swiper-slide
{
    overflow: hidden;
}

@keyframes iconJump
{
    0%
    {
        bottom: 39.8%;
    }
    100%
    {
        bottom: 42%;
    }
}
.page1_smallmap
{
    position: absolute;
    z-index: 5;
    bottom: 31%;
    left: 36%;

    display: none;

    width: 6.1rem;
    height: 4rem;
}
.page1_icon
{
    position: absolute;
    z-index: 10;
    bottom: 29.8%;
    left: 50%;

    display: none;

    width: 2.5rem;
    height: 4rem;

    animation: iconJump 1s linear infinite;
}
.cloud_container
{
    width: 100%;
    height: 100%;
    opacity: 0.9;
    /* display: none; */
}
.cloud_container div
{
    position: absolute;

    /* width: 80%; */
    height: auto;
}
.cloud1
{
    top: 0;
    left: 0;
}
.cloud2
{
    top: 0;
    right: 0;
}
.cloud3
{
    top: 2rem;
    left: 0;
}
.cloud3_down {
    top: 0rem;
    left: 0;
    opacity: 0.7;
}
.cloud4
{
    top: 11rem;
    left: 0;
}
.cloud4_down
{
    top: 16rem;
    left: 0;
}
.cloud5
{
    top: 11rem;
    right: 0;
}
.cloud6
{
    top: 18rem;
    left: 0;
}
.cloud7
{
    right: 0;
    bottom: 0;

    width: 100%;
}
.move_left
{
    animation-fill-mode: forwards;
}
.move_right
{
    animation-fill-mode: forwards;
}

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0.8;
    transform: translate3d(-150px, 0, 0);
  }
}

.bounceOutLeft {
  animation-name: bounceOutLeft;
  animation-delay: 0;
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0.8;
    transform: translate3d(100px, 0, 0);
  }
}

.bounceOutRight {
  animation-name: bounceOutRight;
  animation-delay: 0;
}

@keyframes moveLeft
{
    0%
    {
        left: 0;

        opacity: 1;
    }
    100%
    {
        left: -200px;

        opacity: .85;
    }
}
@keyframes moveRight
{
    0%
    {
        right: 0;

        opacity: 1;
    }
    100%
    {
        right: -300px;

        opacity: .85;
    }
}

@keyframes moveLeft1
{
    0%
    {
        left: 0;

        opacity: 1;
    }
    100%
    {
        left: -120px;

        transform: scale(2);

        opacity: .85;
    }
}
@keyframes page2moveLeft
{
    0%
    {
        left: 0;

        transform: scale(1);

        opacity: 1;
    }
    100%
    {
        left: -140px;

        transform: scale(2);

        opacity: .65;
    }
}
@keyframes page2moveRight
{
    0%
    {
        right: 0;

        transform: scale(1);

        opacity: 1;
    }
    100%
    {
        right: -200px;

        opacity: .75;
    }
}
@keyframes go
{
    0%
    {
        transform: scale(2.5);
    }
    100%
    {
        transform: scale(4.5);
    }
}
.page2-icon
{
    position: absolute;
    top: 36%;
    left: 43%;

    width: 2rem;

    animation: jump 1s linear infinite ;
}
@keyframes jump
{
    0%
    {
        top: 36%;
    }
    100%
    {
        top: 37%;
    }
}
.page2 .page2_cloud2
{
    right: -3rem;

    width: 12rem;
    height: 4rem;
}
.page2 .page2_cloud3
{
    top: 8rem;
    left: -3rem;

    width: 12rem;
    height: 4rem;
}
.page2 .page2_cloud4
{
    top: 6rem;
    left: 50%;

    width: 10rem;
    height: 4rem;
}

.page2 .page2_cloud6
{
    bottom: -2rem;
    left: 0;
}
.page2 .page2_cloud7
{
    right: 0;
    bottom: -2rem;
}

.page3_bg {
    width: 100%;
    height: 100%;
 
}

.floor
{
    position: absolute;
    top: 24%;
    left: 35%;

    width: 5rem;
    height: auto;
}

.page3_floor
{
    position: absolute;
    bottom: 0;
    left: -50%;

    width: 160%;
    height: auto;
}
.page3_person
{
    position: absolute;
    bottom: -1rem;
    left: 30%;

    width: 94.4px;
    height: 312px;

    animation: wait 1s steps(2) infinite;

    background: url(../images/go2.png) 0 0 no-repeat;
    background-size: 188.8px;
}

@keyframes wait
{
    0%
    {
        background-position: 0 0;
    }
    100%
    {
        background-position: -188.8px 0;
    }
}
.page3-word
{
    position: absolute;
    top: -1rem;
    left: 5rem;

    display: none;

    width: 6rem;
}
/*第三页云*/
.page3_container .page3_cloud1
{
    top: 30%;
    left: 20%;

    width: 8rem;
    /*animation: page3Move1 ;*/

    animation-duration: 25s;

    opacity: .8 ;
}
@keyframes page3Move1
{
    0%
    {
        left: 120%;

        opacity: .8;
    }
    100%
    {
        left: -20%;

        opacity: .4;
    }
}
.page3_container .page3_cloud2
{
    top: 20%;
    left: 42%;

    width: 6rem;

    opacity: .8;
}
@keyframes page3Move2
{
    0%
    {
        left: 142%;

        opacity: .8;
    }
    100%
    {
        left: -20%;

        opacity: .4;
    }
}
.page3_container .page3_cloud3
{
    top: 28%;
    right: -30%;

    width: 70%;

    opacity: .8;
}
@keyframes page3Move3
{
    0%
    {
        right: -130%;

        opacity: .8;
    }
    100%
    {
        right: 0;

        opacity: .4;
    }
}
.page3_container .page3_cloud4
{
    top: 10%;
    left: 5%;

    width: 55%;

    opacity: .8;
}
@keyframes page3Move4
{
    0%
    {
        left: 115%;

        opacity: .8;
    }
    100%
    {
        left: -20%;

        opacity: .4;
    }
}
.page3_container .page3_cloud5
{
    top: 7%;
    left: 58%;

    width: 27%;

    opacity: .8;
}
@keyframes page3Move5
{
    0%
    {
        right: 142%;

        opacity: .8;
    }
    100%
    {
        right: -20%;

        opacity: .4;
    }
}
.page3_container .page3_cloud6
{
    top: 40%;
    right: -125%;

    width: 55%;

    opacity: .8;
}
@keyframes page3Move6
{
    0%
    {
        right: -125%;

        opacity: .8;
    }
    100%
    {
        right: -20%;

        opacity: .4;
    }
}
.page3_container .page3_cloud7
{
    top: 21%;
    left: 57%;

    width: 60%;

    transition: all 5s;
    transform: scale(2) ;

    opacity: .8;
}
@keyframes page3Move7
{
    0%
    {
        left: 157%;

        opacity: .8;
    }
    100%
    {
        left: -60%;

        opacity: .4;
    }
}

.page3_next
{
    position: absolute;
    right: 2rem;
    bottom: 2rem;

    width: 2rem;

    opacity: .8;
}
.page4_floor
{
    position: absolute;
    bottom: 0;
    left: -45%;

    width: 189%;
    height: auto;
}
.page4_item
{
    position: absolute;
    top: 5rem;
    left: 2rem;

    width: 11rem;
    height: auto;
}
.page4_button1
{
    position: absolute;
    bottom: 4rem;
    left: 5rem;

    width: 6rem;
    height: auto;
}
.page4_button2
{
    position: absolute;
    bottom: 1rem;
    left: 5rem;

    width: 6rem;
    height: auto;
}
.page4_person
{
    position: absolute;
    top: 60%;
    left: 10%;
}



.mid_line
{
    position: absolute;
    top: 30%;
    left: 45%;

    overflow-y: hidden;

    width: 1rem;
    height: 13rem;
}
ul,
li
{
    list-style: none;
}
.mid-container
{
    position: absolute;
    top: 30%;
    left: 10%;

    width: 80%;
    height: auto;
    margin-top: 1.4rem;
}
.mid-container li
{
    line-height: 3rem;

    position: relative;

    overflow: hidden;

    width: 100%;
    height: 3rem;
    margin: .2rem 0;
}
.mid-container li div
{
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
}
.point
{
    display: block;

    width: .5rem;
    height: .5rem;

    border: .25rem solid  #e3c8bf;
    border-radius: 100%;
    background-color: #f7a52c;
}
.time
{
    left: 8%;
}
.point
{
    left: 43.8%;
}
.address
{
    left: 51%;

    height: 1.5rem;
    /*transform: translateY(-0.3rem);*/
}
.address img
{
    height: 100%;
}
.mid_ani1
{
    animation-delay: .2s;
}
.mid_ani2
{
    animation-delay: .5s;
}
.mid_ani3
{
    animation-delay: .8s;
}
.mid_ani4
{
    animation-delay: 1s;
}
/*第四页云*/
.page4_container .page4-cloud1
{
    top: 30%;
    left: 20%;

    width: 6rem;
}
.page4_container .page4-cloud2
{
    top: 10%;
    right: -31%;
}
.page4_container .page4-cloud3
{
    top: 49%;
    right: -26%;

    opacity: .9;
}
.page4_container .page4-cloud4
{
    top: 45%;
    right: -31%;

    opacity: .98;
}
.page4_container .page4-cloud5
{
    top: 57%;
    right: -31%;
}
/*第五页云*/
.page5_container .page5-cloud1
{
    bottom: -2rem;
    left: 0;
}
.page5_container .page5-cloud2
{
    right: 0;
    bottom: -2rem;
}
.page5_container .page5-cloud3
{
    top: 20%;
    right: -34%;
}
.page5_container .page5-cloud4
{
    top: 30%;
    left: 10%;
}
.page5_container .page5-cloud5
{
    top: 56%;
    right: 33%;

    width: 10rem;

    opacity: .9;
}
.page5_container .page5-cloud6
{
    top: 45%;
    right: 35%;

    width: 4rem;

    opacity: .7;
}
.page5_container .page5-cloud7
{
    top: 80%;
    left: 35%;

    width: 6rem;

    opacity: .9;
}
